target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.eclipse/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos .ban e .xlsx nao devem ir pro repositório
*.ban
*.xlsx
*.xls
*.csv
